{% extends 'layout.html' %}

{% block css %}

<style>
    
</style>

{% endblock %}


{% block body %}


<div class="container mt-5">
    <p class="text-center display-4">
        SCAN RESULTS
    </p>
    <hr class="mb-5">
    <div class="" id="myDiv" style="margin-left: 16rem;"></div>
    <p class="h2 mb-5 text-center text-primary" id="num"></p>
    <p id="result" class="display-4 text-center"></p>

</div>

{% endblock %}

<!-- <div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div> -->


{% block js %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

        let result = parseInt(sessionStorage.getItem('res1'));
        if(!result){
            let result = parseInt(sessionStorage.getItem('res2'));
        }

        let col = "";
        let tot;
        let scan = sessionStorage.getItem('scan');
        let res;

        if(scan=='basic'){
            tot = 6;
            if(result>=3){
                res = 'LEGITIMATE'
                $('#result').addClass('text-success');
                col = "green"
            } 
            else{
                res = 'FAKE'
                $('#result').addClass('text-danger');
                col = "red"
            }
        }else{
            tot = 8;
            if(result>=8){
                res = 'LEGITIMATE'
                $('#result').addClass('text-success');
                col = "green"
            } 
            else{
                res = 'FAKE'
                $('#result').addClass('text-danger');
                col = "red"
            }
        }

        $('#result').html(res)
        $('#num').html("Tests Passed : "+`${result} out of ${tot}`);
        console.log(result);
        var data = [
            {
                domain: { x: [0, 1], y: [0, 1] },
                value: result,
                title: { text: "Tests Passed" },
                gauge: {
                    axis: { range: [null, tot]},
                    bar: { color: col },
                    
                },
                type: "indicator",
                mode: "gauge+number"
            }
        ];

        var layout = { width: 600, height: 500, margin: { t: 0, b: 0 }};
        Plotly.newPlot('myDiv', data, layout);

</script>

{% endblock %}