{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-body">
                    <form method="POST">  
                        <div class="form-group text-center">
                          <label for="url" class=" h3">Enter URL to check</label>
                          <input type="text"
                            class="form-control" name="url" id="url" aria-describedby="help" placeholder="Enter URL">
                          <small id="help" class="form-text text-left text-muted">*Please Enter a Valid URL</small>
                        </div>
                      <div class="input-group mb-3 padding " id="input" style="padding:4px;">
                      <div class="input-group-prepend padding" >
                        <label class="input-group-text" id="prepend" for="inputGroupSelect01">SCAN</label>
                      </div>
                      <select class="custom-select options" id="inputGroupSelect01" >
                        <option selected >SELECT---</option>
                        <option name="option" value="1">BASIC</option></a>
                        <option name="option" value="2">ENHANCED</option>
                      </select>
                    </div>

                    <button type="button" id="scanning" class="btn btn-primary btn-block mt-5">Start Scan</button>
                  </form>
                </div>
            </div>

            <div class="card" id="for-basic" style="display:none;">
                <div class="card-header text-center">BASIC SCAN RESULTS</div>
                <div class="card-body">

                    

                    <ul class="list-group text-left">
                    <li class="list-group-item">
                      <div class="row ml-1">
                            <p class="my-auto">Length of the url</p>
                            <img src="" id="b1" style="width:50px" class="ml-4">
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row ml-1">
                            <p class="my-auto">Certificate checker</p>
                            <img src="" id="b2" style="width:50px" class="ml-4">
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row ml-1">
                            <p class="my-auto">Is sub-domain exist</p>
                            <img src="" id="b3" style="width:50px" class="ml-4">
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row ml-1">
                            <p class="my-auto">No type-squatting</p>
                            <img src="" id="b4" style="width:50px" class="ml-4">
                      </div>
                    </li>
                    <li class="list-group-item" >
                      <div class="row ml-1">
                            <p class="my-auto">Is the domain name is legitimate</p>
                            <img src="" id="b5" style="width:50px" class="ml-4">
                      </div>
                    </li>
                    <li class="list-group-item" >
                      <div class="row ml-1">
                        <p class="my-auto">Is the url is in the blacklisted url list</p>
                        <img src="" id="b6" style="width:50px" class="ml-4">
                      </div>
                    </li>
                    </ul>
                </div>
                <br> 
                <button class="btn btn-primary btn-block" onclick="viewresult()">View Result</button>
            </div>

            <div class="card text-left" style="display:none" id="for-enhanced">
                <div class="card-header text-center">ENHANCED SCAN RESULTS</div>
                <div class="card-body">
                  <ul>
                    <!-- <p class="h2 mt-3 mb-5 text-center text-primary" id="num2"></p>
                    <p id="result2" class="display-4 text-center"></p> -->
                    <li class="list-group-item">
                      <div class="row ml-1">
                        <p class="mt-2">Length of the url</p>
                        <img src="" id="e1" style="width:50px" class="ml-4">
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row ml-1">
                      <p class="mt-2">Certificate checker</p>
                      <img src="" id="e2" style="width:50px" class="ml-4">
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row ml-1">
                      <p class="mt-2">Is sub-domain exist</p>
                      <img src="" id="e3" style="width:50px" class="ml-4">
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row ml-1">
                      <p class="mt-2">No type-squatting</p>
                      <img src="" id="e4" style="width:50px" class="ml-4">
                    </div>
                  </li>
                    <li class="list-group-item" >
                      <div class="row ml-1">
                        
                            <p class="my-auto">Is the domain name is legitimate</p>
                            <img src="" id="e5" style="width:50px" class="ml-4">
                          
                      </div>
                    </li>
                    <li class="list-group-item" >
                      <div class="row ml-1">
                        <p class="mt-2">Is the url is in the blacklisted url list</p>
                        <img src="" id="e6" style="width:50px" class="ml-4">
                      </div>
                    </li>
                    <li class="list-group-item" >
                      <div class="row ml-1">
                        <p class="mt-2">Is the name of the registrar hidden</p>
                        <img src="" id="e7" style="width:50px" class="ml-4">
                      </div>
                    </li>
                    <li class="list-group-item" >
                      <div class="row ml-1">
                        <p class="mt-2">Is the name of the registrar hidden</p>
                        <img src="" id="e8" style="width:50px" class="ml-4">
                      </div>
                    </li>
                  </ul>
                </div>

                <button class="btn btn-primary btn-block" onclick="viewresult()">View Result</button>
              </div>

        </div>
    </div>

</div>

{% endblock %}


{% block js %}

<script>


$(document).ready(() => {

    viewresult = () => {
      window.location.replace('/result');
    }

    let basicScan = () => {
        let url = $('#url').val();
            $.ajax({url : '/basic', data : {url : url}, method : "post", complete : (data) => {
                console.log(data.responseJSON);
                  let result = data.responseJSON;
                  // console.log(result.slice(0, 4))

                // result.slice(0, 4).forEach((ele, index) => {
                //   // console.log(index);
                //   $('#b'+(index+1)).css('width', ele+'%');
                // });
                let passed = 0;
                for(let i=0;i<6;i++){
                  if(result[i]){
                    $('#b'+(i+1)).prop('src', 'static/Images/check.gif');
                    passed++;
                  }else{
                    $('#b'+(i+1)).prop('src', 'static/Images/cross.gif');
                  }
                }

                $('#num1').html("Tests Passed : "+`${passed} out of 6`);
                sessionStorage.setItem('res1', `${passed}`);
                sessionStorage.setItem('scan', 'basic');
                let res;
                if(passed>=3){
                  res = 'LEGITIMATE'
                  $('#result1').addClass('text-success');
                }
                  
                else{
                  res = 'FAKE'
                  $('#result1').addClass('text-danger');
                }
                $('#result1').html(res)

                sessionStorage.setItem('data', JSON.stringify(data.responseJSON))
                    Swal.fire({
                        icon : 'success',
                        title: 'Data Successfully Collected!',
                        html: 'Proceed to see',
                        }).then(() => {
                            // window.location.replace('/display')
                            $("#for-basic").show();
                            $("#for-enhanced").hide();
                        })
                
            },
            beforeSend: () => {
                Swal.fire({
                    title: 'Wait a bit!',
                    html: 'This may take some time',
                    timerProgressBar: true,
                    onBeforeOpen: (
                        
                    ) => {
                        Swal.showLoading();
                    },
                    })
            },
            })
        }

        let enhancedScan = () => {
        let url = $('#url').val();
            $.ajax({url : '/enhanced', data : {url : url}, method : "post", complete : (data) => {
                console.log(data.responseJSON);
                  let result = data.responseJSON;

                let passed = 0;

                for(let i=0;i<8;i++){
                  if(result[i]){
                    $('#e'+(i+1)).prop('src', 'static/Images/check.gif');
                    passed++;
                  }else{
                    $('#e'+(i+1)).prop('src', 'static/Images/cross.gif');
                  }
                }

                $('#num2').html("Tests Passed : "+`${passed} out of 8`);
                sessionStorage.setItem('res1', `${passed}`);
                sessionStorage.setItem('scan', 'full');
                let res;
                if(passed>=4){
                  res = 'LEGITIMATE'
                  $('#result2').addClass('text-success');
                }
                  
                else{
                  res = 'FAKE'
                  $('#result2').addClass('text-danger');
                }
                $('#result2').html(res)
                
                // sessionStorage.setItem('data', JSON.stringify(data.responseJSON))
                    Swal.fire({
                        icon : 'success',
                        title: 'Data Successfully Collected!',
                        html: 'Proceed to see',
                        }).then(() => {
                            // window.location.replace('/display')
                            $("#for-basic").hide();
                            $("#for-enhanced").show();
                        })
                
            },
            beforeSend: () => {
                Swal.fire({
                    title: 'Wait a bit!',
                    html: 'This may take some time',
                    timerProgressBar: true,
                    onBeforeOpen: (
                        
                    ) => {
                        Swal.showLoading();
                    },
                    })
            },
            })
        }

    $("#inputGroupSelect01").change(function(){
    
    if($(this).val()=="1"){    
        // $("#for-basic").show();
        // $("#for-enhanced").hide();

    }
     else if($(this).val()=="2"){
        //  $("#for-enhanced").show();
        //  $("#for-basic").hide();
     }
 });

 $("#scanning").click(function() {
  if($("#inputGroupSelect01").val()=="1")
   {    
       basicScan();
   }
    else if($("#inputGroupSelect01").val()=="2")
    {
      enhancedScan();
    }

});
});


</script>
{% endblock %}
